<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
    <link
      rel="alternate"
      type="application/atom+xml"
      title="natelandau.com RSS feed"
      href="https://feeds.natelandau.com/rss">
    <link
      rel="alternate"
      title="natelandau.com JSON feed"
      type="application/json"
      href="{{ site.baseurl }}/feed.json">

    <title>{{ page.title }} | Nathaniel Landau</title>

    <link rel="profile" href="https://gmpg.org/xfn/11">
    {% if page.layout == 'post' or page.layout == 'page' -%}
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
    {% else -%}
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
    {% endif -%}
    <link rel="author" href="https://plus.google.com/116034461768262417565">
    {% include header.schemaJSON.html %} {% include header.metaTags.html %} {% include header.facebookOG.html %} {%
    include header.twittercard.html %} {% include header.favicons.html %} {% include header.css.html %} {% if
    site.include-js != false %}{% include header.analytics.html %}{% endif %}
  </head>
  <body id="{{ page.layout }}">
    <div class="page-top"></div>
    <header class="header">
      <div class="header-inside clearfix">
        <hgroup class="animated flipInX">
          <h1 class="logo-text"><a href="{{ site.baseurl }}/" title="Nathanel Landau">Nathaniel Landau</a></h1>
          <h2 class="logo-subtitle">Nate Landau&#039;s home on the web</h2>
        </hgroup>
        <ul class="site-nav animated flipInX">
          <li class="site-nav-text">
            <a href="{{ site.baseurl }}/about-nathaniel-landau/" title="About Nathaniel Landau">About</a>
          </li>
          <li class="site-nav-text">
            <a href="{{ site.baseurl }}/nathaniel-landau-resume/" title="Nathaniel Landau's Resume">Resume</a>
          </li>
          <li class="site-nav-icon">
            <a class="archive-toggle" href="#" title="Recent Articles"><i class="fa fa-folder"></i>&nbsp;&nbsp;Posts</a>
          </li>
          <!-- <li class="site-nav-icon"><a class="search-toggle" href="#" title="Search This Site"><i class="icon-search"></i></a></li> -->
          <li class="site-nav-icon" id="rss">
            <a class="feed-toggle" href="#" title="RSS Feed" data-event-category="link" data-event-action="RSS Feed"
              ><i class="fa fa-rss"></i>&nbsp;&nbsp;Feeds</a
            >
          </li>
        </ul>
        <div id="archive-list">
          <ul>
            {% assign count = 0 %} {% for post in site.posts %} {% if count == '10' %} {% break %} {% elsif post.layout
            == 'link' %} {% continue %} {% else %} {% capture count %}{{ count | plus: '1' }}{% endcapture %}
            <li>
              <span><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%h %d, %Y" }}</time></span
              ><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
            </li>
            {% endif %} {% endfor -%}
          </ul>
        </div>
        <!-- /archive-list -->
        <ul id="feed-list">
          <li>
            <a href="https://feeds.natelandau.com/rss"><i class="fa fa-rss"></i>&nbsp;&nbsp;RSS Feed</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/feed.json"><i class="fa fa-link"></i>&nbsp;&nbsp;JSON Feed</a>
          </li>
        </ul>
      </div>
      <!-- /header-inside -->
    </header>

    <div id="wrapper">
      <div id="main">
