{% if page.layout == 'post' or page.layout == 'link' -%}
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "headline": "{{ page.title }}",
          "name": "{{ page.title }}",
          "url": "{{ site.baseurl }}{{ page.url }}",
          "datePublished": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}",
          {% if page.sitemap.lastmod -%}
          "dateModified": "{{ page.sitemap.lastmod | date: "%Y-%m-%dT%H:%M:%S%z" }}",
          {% else -%}
          "dateModified": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}",
          {% endif -%}
          {% if page.description %}"description": "{{ page.description }}",
          {% endif -%}
          {% if page.image -%}
          "image": {
            "@type": "ImageObject",
            "url": "{{ site.baseurl }}/img/postImg/{{ page.image }}"
          },
          {% endif -%}
          {% if page.tags -%}
          "keywords":  [ "{{page.tags | join: '","'}}" ],{% endif %}
          "author": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}",
            "url" : "{{ site.baseurl }}",
            "image": "{{ site.baseurl }}/img/global/nate-landau.jpg",
              "sameAs" : [
                    "https://facebook.com/natelandau",
                    "https://twitter.com/natelandau",
                    "https://www.linkedin.com/in/natelandau/",
                    "https://plus.google.com/+NathanielLandau1"
                  ]
          },
          "publisher": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}",
            "url" : "{{ site.baseurl }}",
            "image": "{{ site.baseurl }}/img/global/nate-landau.jpg",
              "sameAs" : [
                    "https://facebook.com/natelandau",
                    "https://twitter.com/natelandau",
                    "https://www.linkedin.com/in/natelandau/",
                    "https://plus.google.com/+NathanielLandau1"
                  ]
          },
          "copyrightYear" : "{{ page.date | date: "%Y" }}",
          "copyrightHolder": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}"
          },
          "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ site.baseurl }}{{ page.url }}"
          }
    }
</script>
{% elsif page.layout == 'page' or page.layout == 'pageResume' -%}
{% unless page.title contains '404' -%}
<script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "headline": "{{ page.title }}",
          "name": "{{ page.title }}",
          "url": "{{ site.baseurl }}{{ page.url }}",
          "datePublished": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}",
          {% if page.sitemap.lastmod -%}
          "dateModified": "{{ page.sitemap.lastmod | date: "%Y-%m-%dT%H:%M:%S%z" }}",
          {% else -%}
          "dateModified": "{{ page.date | date: "%Y-%m-%dT%H:%M:%S%z" }}",{% endif %}
          {% if page.description %}"description": "{{ page.description }}",
          {% endif -%}
          {% if page.image -%}
          "image": {
            "@type": "ImageObject",
            "url": "{{ site.baseurl }}/img/postImg/{{ page.image }}"
          },{% endif %}{% if page.tags %}
          "keywords":  [ "{{page.tags | join: '","'}}" ],
          {% endif -%}
          "author": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}",
            "image": "{{ site.baseurl }}/img/global/nate-landau.jpg",
            "url" : "{{ site.baseurl }}",
              "sameAs" : [
                    "https://facebook.com/natelandau",
                    "https://twitter.com/natelandau",
                    "https://www.linkedin.com/in/natelandau/",
                    "https://plus.google.com/+NathanielLandau1"
                  ]
          },
          "publisher": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}",
            "url" : "{{ site.baseurl }}",
            "image": "{{ site.baseurl }}/img/global/nate-landau.jpg",
              "sameAs" : [
                    "https://facebook.com/natelandau",
                    "https://twitter.com/natelandau",
                    "https://www.linkedin.com/in/natelandau/",
                    "https://plus.google.com/+NathanielLandau1"
                  ]
          },
          "copyrightYear" : "{{ page.date | date: "%Y" }}",
          "copyrightHolder": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}"
          },
          "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ site.baseurl }}{{ page.url }}"
          }
    }
    }
</script>
{% endunless -%}
{% elsif page.homepage -%}
{% for post in site.posts limit:1 -%}
{%if post.sitemap.lastmod -%}
{% capture lastUpdatetime -%}{{ post.sitemap.lastmod | date: "%Y-%m-%dT%H:%M:%S%z" }}{% endcapture %} {% else %} {% capture
lastUpdatetime %}{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z" }}{% endcapture %}
{% endif- %}
{% endfor -%}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Blog",
        "name": "{{ page.title }}",
        "url": "{{ site.baseurl }}{{ page.url }}",
        "dateModified": "{{ lastUpdatetime }}",
        "author": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}",
            "image": "{{ site.baseurl }}/img/global/nate-landau.jpg",
            "url": "{{ site.baseurl }}",
            "sameAs": [
                "https://facebook.com/natelandau",
                "https://twitter.com/natelandau",
                "https://www.linkedin.com/in/natelandau/",
                "https://plus.google.com/+NathanielLandau1"
            ]
        },
        "publisher": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}",
            "image": "{{ site.baseurl }}/img/global/nate-landau.jpg",
            "url": "{{ site.baseurl }}",
            "sameAs": [
                "https://facebook.com/natelandau",
                "https://twitter.com/natelandau",
                "https://www.linkedin.com/in/natelandau/",
                "https://plus.google.com/+NathanielLandau1"
            ]
        },
        "copyrightYear": "{{ lastUpdatetime | date: '%Y' }}",
        "copyrightHolder": {
            "@type": "Person",
            "name": "{{ site.author.name }}",
            "alternateName": "{{ site.author.alternate_name }}"
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ site.baseurl }}{{ page.url }}"
        }
    }
</script>
{% endif -%}
