---
layout: default
title: Nate Landau's home on the web
homepage: true
pagination:
    enabled: true
flags:
    published: true
    expires: never
    noindex: false
    comments: true
sitemap:
    priority: 1
    changefreq: daily
    lastmod: 2016-02-03 15:03
    exclude: false
---

<div id="content">
    <div class="posts">
        <div class="index">
            <!-- Grab Posts -->
            {% for post in paginator.posts %} {% if post.layout == 'link' and post.linkURL -%}
            <article
                class="post layout-{{ post.layout }}"
                itemprop="=BlogPosting"
                itemscope=""
                itemtype="https://schema.org/BlogPosting">
                <div class="box-wrap">
                    <div class="box">
                        <header>
                            <div class="top-meta clearfix">
                                <meta itemprop="Keywords" content="{{ post.tags | join: ', ' }}" />
                                <div class="date-title">
                                    <time
                                        itemprop="datePublished"
                                        datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">
                                        {% if post.sitemap.lastmod -%}
                                        <meta
                                            itemprop="dateModified"
                                            content="{{ post.sitemap.lastmod | date: '%Y-%m-%dT%H:%M:%S%z' }}" />
                                        {% else -%}
                                        <meta
                                            itemprop="dateModified"
                                            content="{{ post.date | date: '%Y-%m-%dT%H:%M:%S%z' }}" />
                                        {% endif -%} {{ post.date | date: "%h %d, %Y" }}
                                    </time>
                                </div>
                                {% for tag in post.tags -%}
                                <div class="tag">
                                    <h4 class="{{ tag }}">
                                        <a href="{{ site.baseurl }}/tag/{{ tag | uri_escape }}/">{{ tag }}</a>
                                    </h4>
                                </div>
                                {% endfor -%}
                            </div>
                            <!-- /top-meta clearfix-->
                            <meta itemprop="headline" content="{{ post.title }}" />
                            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                                <meta itemprop="name" content="Nathaniel Landau" />
                                <meta itemprop="alternateName" content="Nate Landau" />
                            </span>

                            <h2 class="entry-title linkLayout">
                                <a href="{{ post.linkURL }}" title="{{ post.title }}" itemprop="url">
                                    <span itemprop="headline">{{ post.title }}</span>
                                </a>
                            </h2>
                        </header>
                    </div>
                    <!-- /box -->
                </div>
                <!-- /box-wrap -->
            </article>
            {% else -%}
            <article
                class="post layout-{{ post.layout }}"
                itemprop="=BlogPosting"
                itemscope=""
                itemtype="https://schema.org/BlogPosting">
                <div class="box-wrap">
                    <div class="box">
                        <header>
                            <div class="date-title">
                                <time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">
                                    {% if post.sitemap.lastmod -%}
                                    <meta
                                        itemprop="dateModified"
                                        content="{{ post.sitemap.lastmod | date: '%Y-%m-%dT%H:%M:%S%z' }}" />
                                    {% else -%}
                                    <meta
                                        itemprop="dateModified"
                                        content="{{ post.date | date: '%Y-%m-%dT%H:%M:%S%z' }}" />
                                    {% endif %} {{ post.date | date: "%h %d, %Y" }}
                                </time>
                            </div>
                            <div class="top-meta clearfix">
                                <meta itemprop="Keywords" content="{{ post.tags | join: ', ' }}" />
                                {% for tag in post.tags -%}
                                <div class="tag">
                                    <h4 class="{{ tag }}">
                                        <a href="{{ site.baseurl }}/tag/{{ tag | uri_escape }}/">{{ tag }}</a>
                                    </h4>
                                </div>
                                {% endfor -%}
                            </div>
                            <!-- /clearfix -->
                            <meta itemprop="headline" content="{{ post.title }}" />
                            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                                <meta itemprop="name" content="Nathaniel Landau" />
                                <meta itemprop="alternateName" content="Nate Landau" />
                            </span>
                            <h2 class="entry-title">
                                <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" itemprop="url">
                                    <span itemprop="headline">{{ post.title }}</span>
                                </a>
                            </h2>
                        </header>
                        <div class="post-content">
                            <div class="excerpt-more">
                                {% if post.content contains '
                                <!--more-->
                                ' %} {% if post.image -%}
                                <p>
                                    <a href="{{ site.baseurl }}{{ post.url }}">
                                        <img
                                            src="{{ site.baseurl }}/img/postImg/{{ post.image }}"
                                            alt="{{ post.title }}" />
                                    </a>
                                </p>
                                {% endif -%}
                                <span itemprop="description">{{ post.excerpt | markdownify }}</span>
                                <a
                                    class="excerpt-link"
                                    href="{{ site.baseurl }}{{ post.url }}"
                                    title="{{ post.title }}">
                                    Read More &raquo;
                                </a>
                                {% elsif post.description %} {% if post.image -%}
                                <p>
                                    <a href="{{ site.baseurl }}{{ post.url }}">
                                        <img
                                            src="{{ site.baseurl }}/img/postImg/{{ post.image }}"
                                            alt="{{ post.title }}" />
                                    </a>
                                </p>
                                {% endif -%}
                                <p itemprop="description">{{ post.description }}</p>
                                <a
                                    class="excerpt-link"
                                    href="{{ site.baseurl }}{{ post.url }}"
                                    title="{{ post.title }}">
                                    Read More &raquo;
                                </a>
                                {% else %} {% if post.image -%}
                                <p>
                                    <a href="{{ site.baseurl }}{{ post.url }}">
                                        <img
                                            src="{{ site.baseurl }}/img/postImg/{{ post.image }}"
                                            alt="{{ post.title }}" />
                                    </a>
                                </p>
                                {% endif %} {{ post.content | markdownify | replace_regex: '
                                <p><a.*<img.*w,.*/a></p>
                                ', ''}} {% endif -%}
                            </div>
                            <!-- /excerpt-more -->
                        </div>
                        <!-- /post-content -->
                    </div>
                    <!-- /box -->
                </div>
                <!-- box-wrap -->
            </article>
            {% endif -%}
            <hr />
            {% endfor -%}
            <!-- /Grab Posts -->

            <!-- Paginate through posts -->
            <div class="next-prev">
                <div class="next-prev-more">
                    <strong>More posts:</strong>
                    Page
                    <strong>{{ paginator.page }}</strong>
                    of
                    <strong>{{ paginator.total_pages }}</strong>
                </div>
                <div class="prev-post">
                    {% if paginator.previous_page %} {% if paginator.previous_page == 1 -%}
                    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">Previous Posts</a>
                    {% else -%}
                    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">Previous Posts</a>
                    {% endif %} {% else -%}
                    <!-- <span class="previous">Previous</span> -->
                    {% endif %}
                </div>
                <div class="next-post">
                    {% if paginator.next_page -%}
                    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next Posts</a>
                    {% else -%}
                    <!-- <span class="next ">Next</span> -->
                    {% endif -%}
                </div>
            </div>
            <!-- /paginate through posts -->
        </div>
        <!-- /index -->
    </div>
    <!-- /posts -->
</div>
<!-- /content -->
