---
layout: post
---

{% include global.header.html %}
<div id="content">
    <div class="posts">
        <div class="page">
            <article class="post {{ page.layout }}">
                <div class="box-wrap">
                    <div class="box">
                        <header>
                            <div class="date-title">{{ page.date | date: "%h %d, %Y" }}
                            </div>
                            <div class="top-meta clearfix">
                                {% for tag in page.tags -%}
                                    <div class="tag">
                                        <h4>
                                            <a href="{{ site.url }}/tag/{{ tag | uri_escape }}/">
                                                <span itemprop="keywords">{{ tag }}
                                                </span>
                                            </a>
                                        </h4>
                                    </div>
                                {% endfor -%}
                            </div>
                            <!-- /clearfix -->
                            <h1 class="entry-title">{{ page.title }}
                            </h1>
                        </header>

                        {% comment -%}
                            {% if page.image -%}
                            <img
                            src="{{ site.url }}/img/postImg/{{ page.image }}"
                            alt="{{ page.title }}"
                            class="pageImage" />
                            {% endif -%}
                        {% endcomment -%}

                        <div class="post-content" itemprop="articleBody">
                            {% if page.description -%}
                                <hr/>
                                <h6>{{ page.description }}
                                </h6>
                            {% endif -%}
                            {{ content | replace_regex: '\srev=\"footnote\"', ''}}
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- /page -->

        <div class="next-prev">
            <div class="next-prev-more">More Posts</div>
            <div class="prev-post">
                {% if page.previous.url -%}
                    <a href="{{ site.url }}{{ page.previous.url }}" title="Previous Post: {{ page.previous.title }}" rel="prev">
                        {{ page.previous.title }}
                    </a>
                {% endif -%}
            </div>
            <div class="next-post">
                {% if page.next.url -%}
                    <a href="{{ site.url }}{{ page.next.url }}" title="Next Post: {{ page.next.title }}" rel="next">
                        {{ page.next.title }}
                    </a>
                {% endif -%}
            </div>
        </div>
        <!-- /next-prev -->

        {% if page.flags.include_comments -%}
            <!-- Comments -->
            <div id="comment-box" class="comments">
                <script src="https://giscus.app/client.js" data-repo="natelandau/natelandau.com" data-repo-id="{{ site.giscus_repo_id }}" data-category="{{ site.giscus_data_category}}" data-category-id="{{ site.giscus_data_category_id }}" data-mapping="pathname" data-strict="1" data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="preferred_color_scheme" data-lang="en" data-loading="lazy" crossorigin="anonymous" async></script>
            </div>
        {% endif %}
        <!-- /.comments -->
    </div>
    <!-- /posts -->
</div>
<!-- /content -->

{% include global.footer.html %}
