---
layout: default
---

<div id="content">
    <div class="posts">
        <div id="category-archive">
            <h2 class="archive-title animated flipInX">
                <i class="fa fa-file-text-o"></i>
                &nbsp;&nbsp;{{page.title}}
            </h2>
            <ul>
                {% for post in site.posts -%} {% for tag in post.tags -%} {% if tag == page.tag -%}
                <li class="archive_list">
                    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%h %d, %Y" }}</time>
                    &nbsp;&nbsp;
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endif -%} {% endfor -%} {% endfor -%}
            </ul>
        </div>
        <!-- /Content -->
    </div>
    <!-- /posts -->
</div>
<!-- /category-archive -->
